* {
    margin: 0;
}

.header {
    background: white;
}

.about {
    width: 100%;
    background-image: url(/svgs/about-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.about-chlid {
    width: 95%;
    display: flex;
    text-align: center;
    text-align: center;
    justify-content: center;

}

.about-heading {
    font-family: Raleway;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    padding: 5rem 0;
}

/* about viewport */
.about-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-container-chlid {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 3rem 0;

}

.about-p {
    width: 40%;
    font-size: 18px;
    line-height: 25px;
}


.about-h5 {
    font-family: lato;
    font-size: 25px;
    font-weight: 300;
    color: #6A1B9A;

}

.about-h1 {
    font-family: Raleway;
    font-size: 50px;
    color: #6A1B9A;
    width: 90%;

}


/* about information */
.about-info {
    width: 100%;
    height: 100vh;
    background-image: url(/svgs/about-info.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.about-info-chlid {
    width: 45%;
    padding: 60px 42px;
    /* height: 60%; */
    background: rgba(84, 25, 121, 0.75);
    display: flex;
    color: white;
    align-items: center
}

.about-info-text {
    font-size: 20px;
    font-family: lato;
    line-height: 36px;
}

/* WE STRIVE TO BE MORE THAN JUST LEGAL ADVISORS */
.advidor {
    width: 100%;
}

.advisor-chlid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 1rem; */
    padding: 5rem 0;
}

.about-box1 {
    min-width: 50%;
    width: 50%;
    font-size: 45px;
    font-weight: 700;
    color: white;
    box-shadow: 0px 0px 23px -10px rgba(0, 0, 0, 0.25);
    background: #373737;
    border-radius: 10px;
    font-family: Raleway;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 0px;
}

.about-box2 {
    width: 50%;
    padding: 5rem;
    font-size: 20px;
    font-weight: 500;
    line-height: 33.2px;
    border-radius: 10px;
    box-shadow: 0px 0px 23px -10px rgba(0, 0, 0, 0.25);

}

@media (min-width: 320px) and (max-width: 767px) {
    .about {
        width: 100%;
        background-image: url(/svgs/about-banner.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
    }

    .about-chlid {
        width: 100%;
        display: flex;
        text-align: center;
        text-align: center;
        justify-content: center;

    }

    .about-heading {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 20px;
        padding: 5rem 0;
    }

    /* section end */

    .about-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about-container-chlid {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 2rem 0;

    }

    .about-p {
        width: 95%;
        font-size: 15px;
        line-height: 25px;
    }


    .about-h5 {
        font-size: 32px;
        font-weight: 300;
        color: #333333;

    }

    .about-h1 {
        font-size: 42px;
        width: 95%;

    }

    /* section end  */

    .about-info {
        width: 100%;
        height: 100vh;
        background-image: url(/svgs/about-info.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
    }

    .about-info {
        width: 100%;
        height: 100vh;
        background-image: url(/svgs/about-info.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
    }

    .about-info-chlid {
        width: 95%;
        padding: 35px 8px;
        /* height: 60%; */
        display: flex;
        align-items: center
    }

    .about-info-text {
        font-size: 13px;
        line-height: 21px;
    }

    /* section end */

    .advidor {
        width: 100%;
    }

    .advisor-chlid {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* gap: 1rem; */
        padding: 3rem 0 0 0;
    }

    .about-box1 {
        min-width: 50%;
        width: 100%;
        font-size: 26px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: normal;
        text-align: start;
        padding: 3rem 0px;
    }

    .advisors-h1 {
        padding: 0 0 0 10px;
    }

    .advisors-p {
        padding: 0 0 0 10px;
    }

    .about-box2 {
        width: 94%;
        padding: 1rem;
        font-size: 18px;
        font-weight: 500;
        line-height: 33.2px;
        border-radius: 10px;

    }

}

@media (min-width: 768px) and (max-width: 1024px){
    .about {
        width: 100%;
        background-image: url(/svgs/about-banner.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
    }

    .about-chlid {
        width: 100%;
        display: flex;
        text-align: center;
        text-align: center;
        justify-content: center;

    }

    .about-heading {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 20px;
        padding: 5rem 0;
    }

    /* section end */

    .about-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about-container-chlid {
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 2rem 0;

    }

    .about-p {
        width: 95%;
        font-size: 15px;
        line-height: 25px;
    }


    .about-h5 {
        font-size: 32px;
        font-weight: 300;
        color: #333333;

    }

    .about-h1 {
        font-size: 42px;
        width: 95%;

    }

    /* section end  */

    .about-info {
        width: 100%;
        height: 100vh;
        background-image: url(/svgs/about-info.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
    }

    .about-info {
        width: 100%;
        height: 100vh;
        background-image: url(/svgs/about-info.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
    }

    .about-info-chlid {
        width: 50%;
        padding: 35px 8px;
        /* height: 60%; */
        display: flex;
        align-items: center
    }

    .about-info-text {
        font-size: 13px;
        line-height: 21px;
    }

    /* section end */

    .advidor {
        width: 100%;
    }

    .advisor-chlid {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* gap: 1rem; */
        padding: 3rem 0 0 0;
    }

    .about-box1 {
        min-width: 50%;
        width: 85%;
        font-size: 31px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: normal;
        text-align: start;
        padding: 3rem 0px;
    }

    .advisors-h1 {
        padding: 0 0 0 10px;
    }

    .advisors-p {
        padding: 0 0 0 10px;
    }

    .about-box2 {
        width: 84%;
        padding: 1rem;
        font-size: 18px;
        font-weight: 500;
        line-height: 33.2px;
        border-radius: 10px;

    }
}